@model List<KitchenPlan.PantryItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>List of Data</h1>
    <div>
    <table border = 1>
    @foreach (var item in this.Model)
    { 
        <tr>
            <td>@item.PantryItemId</td>
            <td>@item.Description</td>
            <td>@item.PlannedMeals.Count</td>
            <td>@Html.Partial("~/Views/Meals/Add.cshtml", item.PantryItemId )</td>
            <td>@Html.ActionLink("Plan A Meal", "Add", "Meals", 
            new {id = item.PantryItemId}, new {})</td>
        </tr>
    }
    </table>
    </div>
</body>
</html>
