@model List<KitchenPlan.BlogPosts>
@{
    Layout = null;
 }


<!DOCTYPE html>

<html>
<head>
    <title>Blog</title>
</head>
<body>
<h1>Blog Posts</h1>
    <div>
    <table border = 1>
    @foreach (var item in this.Model)
    { 
        /*
        <tr>
            <td>@item.BlogPostId</td>
            <td>@item.Description</td>
            <td>@item.PlannedMeals.Count</td>
            <td>@Html.Partial("~/Views/Meals/Add.cshtml", item.PantryItemId )</td>
            <td>@Html.ActionLink("Post A Blog", "Add", "Meals", 
            new {id = item.BlogPostId}, new {})</td>
        </tr>
         */
    }
    </table>
    </div>
</body>
</html>