@model List<KitchenPlan.BlogPost>
<h1>Blog Posts</h1>
    <div>
          
    
 
    @foreach (var item in this.Model)
    { 
        <div class="postHeader">
        <div class="postTitle">@item.PostTitle</div>
        <div class="postDate">@item.PostDate</div>
        </div>
        <div class="postText">@item.PostText</div>
        <div>@Html.ActionLink("Click here edit this post", "NewPost", "Blog",
            new { id = (item.BlogPostId) }, new { }) </div>
        
        foreach (var reply in item.BlogReplies)
        {
        <blockquote><span>@reply.ReplyBy</span><span> replied:</span>
        <span>"@reply.BlogReplyText"</span></blockquote>
        }
               
        <div>@Html.ActionLink("Click here to make a new reply", "ReplyView", "Blog",
                    new { id = (item.BlogPostId) }, new { })</div><br />
      }  
    <div>@Html.ActionLink("Click here write a new post", "NewPost", "Blog")</div>

   
   
    </div>