@model KitchenPlan.BlogPost
<h1>Here you can reply to your chosen post</h1>
<div>
<div class="postHeader">
<div, class="postTitle">@Model.PostTitle</div>
<div class="postDate">@Model.PostDate</div>
</div>
@Model.PostText
@foreach (var reply in Model.BlogReplies)
    {
    @reply.ReplyBy
    @reply.BlogReplyText
    @Html.ActionLink("Click here edit a this reply", "AddReply", "Reply",
                    new { replyId = (reply.BlogReplyId), post = (Model.BlogPostId) }, new { })
    }
</div>
<h3>You can write a new reply here</h3>
<p>(I've yet to figure out how to pass the ReplyController 2 different variables.</p>
<p> I need to to have both the BlogReplyId and the corresponding BlogPostID.</p>
<p>With an existing reply, that's not an issue. But here...</p>
@Html.ActionLink("Click here to create a new reply", "AddReply", "Reply",
            new { post = (Model.BlogPostId) }, new { })

