@model KitchenPlan.BlogPost
<h1>Here you can reply to your chosen post</h1>
<div>
<div class="postHeader">
<div, class="postTitle">@Model.PostTitle</div>
<div class="postDate">@Model.PostDate</div>
</div>
@Model.PostText
@foreach (var reply in Model.BlogReplies)
    {
    @reply.ReplyBy
    @reply.BlogReplyText
    @Html.ActionLink("Click here edit this reply", "AddReply", "Reply",
                    new { replyId = (reply.BlogReplyId), post = (Model.BlogPostId) }, new { })
    }
</div>
<h3>You can write a new reply here</h3>
@Html.ActionLink("Click here to create a new reply", "AddReply", "Reply",
            new { post = (Model.BlogPostId) }, new { })

<div>
    @Html.Partial("~/Views/Reply/Waste.cshtml", Model.BlogPostId)
</div>
